
*.cache
*.dll
*.pdb
*.apk
*.o
*.props
*.v2
*.s
*.targets
ChuurasTrinca/ChuurasTrinca.Android/ChuurasTrinca.Android 3.csproj
ChuurasTrinca/ChuurasTrinca.Android/obj/ChuurasTrinca.Android.csproj.nuget.dgspec 2.json
ChuurasTrinca/ChuurasTrinca.Android/obj/project.assets 2.json
ChuurasTrinca/ChuurasTrinca.Android/Properties/AndroidManifest 2.xml
ChuurasTrinca/ChuurasTrinca.Android/Properties/AndroidManifest 3.xml
ChuurasTrinca/ChuurasTrinca.iOS/obj/ChuurasTrinca.iOS.csproj.nuget.dgspec 2.json
ChuurasTrinca/ChuurasTrinca.iOS/obj/project.assets 2.json
ChuurasTrinca/ChuurasTrinca/obj/ChuurasTrinca.csproj.nuget.dgspec 2.json
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/ChuurasTrinca.csproj.FileListAbsolute 2.txt
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/ChuurasTrinca.GeneratedMSBuildEditorConfig 2.editorconfig
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/Views/MainPage.xaml.g 2.cs
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/Views/ViewCadastroChurrasco.xaml.g 2.cs
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/Views/ViewCadastroUsuario.xaml.g 2.cs
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/Views/ViewListarChurrascos.xaml.g 2.cs
ChuurasTrinca/ChuurasTrinca/obj/Debug/netstandard2.0/Views/ViewPrincipal.xaml.g 2.cs
ChuurasTrinca/ChuurasTrinca/obj/project.assets 2.json
ChuurasTrinca/ChuurasTrinca.Android/bin/Debug/ChuurasTrinca.Android.dll
ChuurasTrinca/ChuurasTrinca.Android/bin/Debug/ChuurasTrinca.Android.pdb
ChuurasTrinca/ChuurasTrinca.Android/ChuurasTrinca.Android.csproj.user
ChuurasTrinca/ChuurasTrinca.Android/obj/Debug/100/_TelemetryProps
ChuurasTrinca/ChuurasTrinca.Android/obj/Debug/100/android/assets/ChuurasTrinca.Android.dll
ChuurasTrinca/ChuurasTrinca.Android/obj/Debug/100/android/assets/ChuurasTrinca.Android.pdb
ChuurasTrinca/ChuurasTrinca.Android/obj/Debug/100/ChuurasTrinca.Android.csproj.AssemblyReference.cache
ChuurasTrinca/ChuurasTrinca.Android/obj/Debug/100/ChuurasTrinca.Android.dll
ChuurasTrinca/ChuurasTrinca.Android/obj/Debug/100/ChuurasTrinca.Android.pdb
.vs/ChuurasTrinca/v16/.suo
*.v2
.vs/ChuurasTrinca/v16/.suo
*.dll
*.pdb
*.apk
*.json
*.zip
*.dex
*.o
*.so
*.props
*.hash
*.cache
*.json
*.cache
*.cache
*.cache
*.dll
*.pdb
*.cache
.vs/ChuurasTrinca/v16/.suo
